In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
import requests

In [2]:
executable_path = {"executable_path": "c:/bin/chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

## NASA Mars News

https://mars.nasa.gov/news/ : Latest News Title and Paragraph Text

In [3]:
news_url = "http://mars.nasa.gov/news"
# Use splinter because the site redirects.
browser.visit(news_url)
time.sleep(5)

In [4]:
html = browser.html
soup = bs(html, "html.parser")
# print(soup.prettify())

In [5]:
news_item = soup.find('div', class_='list_text')
# print(news_item)

In [6]:
news_title = news_item.find('div', class_='content_title').text.strip()
news_title

"NASA Readies Perseverance Mars Rover's Earthly Twin"

In [7]:
news_teaser = news_item.find('div', class_='article_teaser_body').text.strip()
news_teaser

"Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape."

## JPL Mars Space Images
https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars : Featured Image

In [8]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

In [9]:
click_one = browser.links.find_by_partial_text('FULL IMAGE')
click_one.click()

In [10]:
click_two = browser.links.find_by_partial_text('more info')
click_two.click()

In [11]:
html = browser.html
soup = bs(html, "html.parser")
# print(soup.prettify())

In [12]:
four = soup.find('figure', class_='lede')
five = four.find('a')['href']
featured_image_url = "https://jpl.nasa.gov/" + five
featured_image_url

'https://jpl.nasa.gov//spaceimages/images/largesize/PIA16192_hires.jpg'

## Mars Facts
https://space-facts.com/mars/ : Mars Planet Profile table

In [13]:
table_url = "https://space-facts.com/mars/"
tables = pd.read_html(table_url)
# len(tables)
facts_table = tables[0]
# facts_table

In [14]:
facts_table = facts_table.rename(columns={0:"About",1:"Mars"})
facts_table

                  About                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
facts_html = facts_table.to_html(index=False)
facts_html = facts_html.replace("text-align: right;","text-align: center;")
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>About</th>
      <th>Mars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres
https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars

In [16]:
browser.quit()